#header, #footer {
  color: white;
  background-color: #660000;
  padding: 20px;

}

body {
background-color: #ff0000;;

}

h1 {
  text-align: center;

}
#subtitle{
  text-align: center;
}

#text_container {
  padding: 20px;
  background-color: #ffb3b3;
   
}

a {
  font-family: cursive;
  font-size: 2em

}

}
h3 {
}
li {
  font-size: 2em;
  font-family:sans-serif;
}
img {
  display:block;
  margin: auto;
  width: 25%;
  height: 25%;
}
p {

}
